@use '../app/styles/fonts/krypton/fonts.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Monaspace Krypton", sans-serif;
}