.container {
    padding: 20px;
    background-color: rgb(199, 231, 231, 0.5);
    position: sticky;
    top: 0; // Обязательно указать где фиксировать!
    z-index: 1000; // Чтобы был поверх другого контента
    backdrop-filter: blur(10px);

    &>a {
        margin-right: 16px;
    }
}