.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 16px;
    }
}

.post {
    display: flex;
    flex-direction: column;
    padding: 8px;
    border: 1px solid rebeccapurple;
    border-radius: 10px;
    min-width: 300px;
    max-width: 600px;

    &>h4 {
        padding-bottom: 8px;
        color: rgb(104, 4, 9);
    }

    &>h5 {
        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    &:not(:last-child) {
        margin-bottom: 16px;
    }
}